/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.main {
  background-color: blanchedalmond;
  height: 100vh;
}
.message {
  margin-left: -200px;
  margin-top: -25px;
  position: absolute;
  text-align: right;
}
.message2 {
  position: absolute;
  margin-left: 250px;
  margin-top: -5px;
}

.form-check-input {
  margin-right: 10px;
}

@media screen and (max-width: 600px) {
  .main {
    background-color: blanchedalmond;
    height: auto;
  }
  
.message {
  margin-left: -300px;
  margin-top: 80px;
  position: absolute;
  text-align: left;
}
.message2 {
  position: absolute;
  margin-left: 150px;
  margin-top: -5px;
}
}
